@font-face {
  font-family:"Ubuntu";
  src: url("Ubuntu/Ubuntu-Regular.ttf");
}

#main-content{
  display: none;
}
html{
  font-family: Ubuntu,verdana,helvetica;
}

#loader-wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin:-75px 0px 0px -115px;
  p{
    text-align: center;
    font-size: 25px;
  }
}

#dots{
  flex-direction: row;
  display: flex;
}

.circle{
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin:5px;
  transition: all 0.3s;
  opacity: 0.7;
}

@keyframes navbara {
  from{background-color:#80fff8;}
  to{background-color:#8bfa87;}
}

@keyframes hr12 {
  from{
    width:130px;
  }
  to {
    width:200px;
  }
}

@keyframes heading2 {
  from{margin-left: 1200px;
  opacity:0;}
  to{margin-left: 0px;
  opacity: 1;}
}

@keyframes heading23 {
  from{margin-left: 250px;
  opacity:0;}
  to{margin-left: 0px;
  opacity: 1;}
}
@keyframes heading24 {
  from{margin-left: 50px;
  opacity:0;}
  to{margin-left: 0px;
  opacity: 1;}
}

#lang-toggle {
  text-decoration: none;
  color:black;
  cursor:pointer;
  font-size:18px;
  float:right;
  margin-top:-87px;
  margin-right: 40px;
  transition: all 0.5s;
}

#lang-toggle:hover{
  opacity:0.5;
}

.dark #lang-toggle {
  color:white;
}

#main-content {
  scroll-behavior: smooth;
  font-family: Ubuntu,verdana,helvetica;
  animation-name: heading23;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

#head {
  color:green;
}

#header {
  font-family:Ubuntu,verdana,helvetica;
  font-weight: bold;
  display: flex;
  top: 0;
}

#headname {
  margin-top: 1.5rem;
  margin-left: 5px;
  font-size: 24px;
  text-decoration: none;
  color:black;
}

#logo {
  width:90px;
}

#e{
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block;
}

#e div{
  border: 1.5px solid black;
  width: 11px;
  background-color: black;
}

#bar1 {
 margin-bottom: 4px;
}

#bar3 {
margin-top: 4px;
}

#moon {
  float:right;
  font-size:28px;
  margin-top:-90px;
  cursor:pointer;
  position: sticky;
}

.moongone{
  display:none;
}

#sun {
  float:right;
  color:#f7c76d;
  font-size:28px;
  margin-top:-90px;
  cursor:pointer;
  position: sticky;
}

.sungone {
  display:none;
}

.navbar {
  background-color:#80fff8;
  padding: 12px 12px 12px 9px;
  margin-top:15px;
}


#navbar a {
  text-decoration: none;
  font-family:Ubuntu,verdana,helvetica;
  background-color:#80fff8;
  padding:12px 12px 12px 12px;
  margin-left:-9px;
  font-size:16px;
  cursor:pointer;
  color:black;
  transition: all 0.5s;
}

#navbar a:hover {
  color:white;
  background-color: blue;
}

#navbar a:active{
  background-color: red;
}

.heading {
  text-align: center;
  font-family: Ubuntu,verdana,helvetica;
  font-weight: bold;
  font-size:24px;
}


.hr1 {
  width:130px;
  background-color: blue;
  border:3px solid blue;
  border-radius: 4px;
  transition: width 0.5s;
}

.heading:hover .hr1{
 width:250px;
}

#about a{
  flex-direction: column;
  display: inline-flex;
  transition: all 0.5s;
}

#pic{
  width:130px;
  height:180px;
  padding: 12px 45px 2px 45px;
  border-radius:60%;
}

#pic1 {
  height: 180px;
  padding: 12px 45px 2px 45px;
  border-radius:80%;
}

#about a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark #about a:hover{
  box-shadow: 0 0 8px 2px rgba(255,255,255,1);
}

#contact a{
  color:black;
  font-size:32px;
}

#first3 a{
  display: inline-block;
  font-size: 18px;
}

#second3 a{
  display: inline-block;
  font-size: 18px;
}

#desig {
  margin-top:-10px;
  color:#187502;
}

.dark{
  background-color: black;
  color:white;
}
.dark #e div{
  border: 1.5px solid white;
  background-color: white;
}

.dark #contact a{
  color:white;
}

.dark #desig {
    color:#56f213;
  }

#contact a:hover {
  color:#187502;
}

.dark #contact a:hover {
  color:#56f213;
}

#from {
  height:800px;
  width:1500px;
  margin-top: 40px;
  overflow: hidden;
}

.para {
  font-size:20px;
  letter-spacing: 1px;
  margin-left:40px;
  margin-right:40px;
}


#vision {
  margin-top: 55px;
}

#mainfooter{
  padding-top:10px;
  padding-bottom:10px;
  margin-top:20px;
  position: absolute;
  left: 0;
  bottom: 1;
  width: 100%;
  text-align: left;
  font-size:19px;
  z-index: -1;
  transition: all 0.6s;
  background-color: rgb(246,246,246);
  font-family: Ubuntu,verdana,helvetica;
  a{
    text-decoration: none;
    color:inherit;
  }

}

.dark #mainfooter{
  background-color: #959596
}

#mainfooter p{
  margin-left: 10px;
}

#mainfooter:hover{
  background-color: rgb(134,255,248);
}

.dark #mainfooter:hover{
  background-color:blue;
}

.comtact-form{
  padding-left:-400px;
}

#contact-form{
  text-align:center;
  width:auto;
  margin-top:30px;
  border-radius:30px;
  background-color: rgb(134,255,248);
  width:480px;
  display: inline-block;
}

.dark #contact-form{
  background-color: #000278;
}

#maincircle{
  background-color: lightgreen;
  height: 150px;
  width:150px;
  border-radius:50%;
  position: inline-block;

}

#maincircle p{
  padding-top: 63px;
  padding-left: 24px;
}

#name{
  font-size:18px;
  width:400px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top:40px;
  background-color:transparent;
}

::placeholder{
  color:blue;
  font-family: Ubuntu,verdana,helvetica;
}

.dark ::placeholder{
  color:white;
}

.dark #name , .dark #email, .dark #message{
  color:white;
  border-bottom: 2px solid rgba(239, 192, 80, 0.9);
}

#name:focus{
  outline:none;
}

#email:focus{
  outline:none;
}

#counter{
 float:right;
 margin-top:46.5px;
 height:25px;
}

#counter-head{
  font-size: 16px;
  float:right;
  margin-top:49px;
  margin-right: 10px;
  z-index: 1;
}

.dark #footer-container{
  color: white;
}

#message:focus{
  outline:none;
}

#email{
  font-size:18px;
  width:400px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top:40px;
  background-color:transparent;
}

#message{
  margin-bottom: 20px;
  font-size:18px;
  width:400px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top:40px;
  background-color:transparent;
}

#submit{
  background-color: blue;
  color:white;
  border:2px blue solid;
  padding: 10px 25px 10px 25px;
  margin-bottom: 20px;
  border-radius: 25px;
  width:100px;
  transition: all 0.3s;
  cursor:pointer;
}

#submit:hover{
  width:165px;
  color:black;
  background-color:white;
}

#submit:focus{
  outline: none;
}

#submit:active{
  background-color: red;
}

@media screen and (max-width: 770px) {
  .bar1 , .bar2 , .bar3{
    border: 2px solid black;
    width:24px;
    transition: 0.4s;
    transform-style: all;
    background-color: black;
  }

  .bar1 , .bar2 {
    margin-bottom: 4px;
  }

  #bars {
    width:40px;
  }

  #logo{
    width:75px;
  }

  #main-content {
    scroll-behavior: smooth;
    font-family: Ubuntu,verdana,helvetica;
    animation-name: heading24;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  #nav-toggle {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #80fff8;
    width:28px;
    padding: 11px 11px 11px 11px;
    border-radius: 3px;
    transition: all 0.4s;
  }

  #nav-toggle:hover{
    background-color:blue;
  }

  .whitebar{
    background-color: white;
    border: 2px solid white;
  }

  .navbar {
    flex-direction: column;
    height:100%;
    display:flex;
  }

  .change .bar1 {
    opacity: 0;
  }

  .change .bar2 {
    transform: rotate(-45deg) ;
    -webkit-transform: rotate(-45deg) ;
    border:2px solid #ff0033;
    background-color:#ff0033;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
    border:2px solid #ff0033;
    background-color:#ff0033;
  }

  #pic{
    width:100px;
    height:140px;
    padding: 12px 23px 2px 23px;
    border-radius:60%;
  }
  #first3 a{
    display: inline-block;
    font-size: 14px;
  }

  #second3 a{
    display: inline-block;
    font-size: 14px;
  }

  .para {
    font-size:16px;
    letter-spacing: 1px;
    margin-left:15px;
    margin-right:15px;
  }

  .heading {
    text-align: center;
    font-family: Ubuntu,verdana,helvetica;
    font-weight: bold;
    font-size:20px;
  }
  #mainfooter{
    padding-top:4px;
    padding-bottom:4px;
    font-size:14px;
  }

  #counter{
   float:right;
   margin-top:38px;
   height:16px;
  }

  #counter-head{
    margin-top:40px;
    font-size: 10px;
  }

  #moon{
    font-size:18px;
    padding-top: 5px;
  }
  #sun{
    font-size:18px;
    padding-top: 5px;
  }
  #lang-toggle{
    font-size: 16px;
    padding-top: 1px;
  }

}

@media screen and (max-width: 480px){
  #logo{
    width:55px;
  }
  #pic{
    height:90px;
    width:55px;
    padding: 8px 23px 0px 23px;
  }
  #first3 p{
    font-size:10px;
  }
  #second3 p{
    font-size:10px;
  }
  #counter-head{
    font-size:8px;
    margin-top: 32px;
  }
  #mainfooter{
    font-size:8px;
  }
  #counter{
    height:10px;
    margin-top:31px;
    float:right;
  }

  #contact a{
    font-size:20px;
  }

  .heading{
    font-size: 12px;
  }
  #lang-toggle{
    font-size: 10px;
  }

  #contact-form{
    width:300px;
  }

  #name{
    width:260px;
    font-size:13px;
  }
  #email{
    width:260px;
    font-size:13px;
  }
  #message{
    width:260px;
    font-size:13px;
  }

  #headname{
    font-size: 16px;
    margin-top: 15px;
  }

  #bar3{
    margin-top:2px;
    border: 1.4px solid black;
  }
  #bar1{
    margin-bottom:0.1rem;
  }

  #e div{
    width:7px;
    border: 0.01rem solid black;
  }
  .dark #e div{
    border:0.01rem solid white;
  }
  .hr1{
    width:110px;
  }

  .hr1:hover{
    width:180px;
  }
  .para{
    font-size:12px;
  }

  #navbar a{
    font-size:15px;
  }

  #nav-toggle{
    padding: 7px 2.5px 7px 7px;
    text-align: center;
  }
  .bar1 , .bar2 , .bar3{
    border: 2px solid black;
    width:20px;
    background-color: black;
  }

  #moon{
    font-size:18px;
    padding-top: 26px;
  }
  #sun{
    font-size:18px;
    padding-top: 26px;
  }
  #lang-toggle{
    font-size: 18px;
    padding-top: 22px;
    padding-right:-30px;
  }

}

@media screen and (max-width: 380px){
  #pic{
    height:75px;
    width:50px;
  }
  #scale{
    width: 170px !important;
  }
  #map-btns{
    li{
      font-size: 13px !important;
    }
  }
}

.dark #headname{
  color:white;
}

#arrow-up{
  position:fixed;
  z-index: 9999;
  font-size: 6vw;
  bottom: 0;
  right:0;
  margin-bottom: 11vw;
  margin-right: 2vw;
  opacity: 0.35;
  transition: all 0.3s;
  transform: rotate(-50deg);
  cursor: pointer;
  display: none;
}

#arrow-up:hover{
  opacity: 1;
  transform: rotate(0deg);
}

#scale{
  width:265px;
  border: 0.2px solid black;
  padding:4px;
  transition: all 0.6s;
  height:2px;
  display: inline-block;
}
.alcohol{
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,40,1) 100%);
}
.cannabis{
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(40,255,255,1) 100%);
}
.opioids{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,0,255,1) 100%);
}
.sedatives{
  background: rgb(255,255,0);
background: linear-gradient(90deg, rgba(255,248,10,1) 0%, rgba(251,0,6,1) 100%);
}
svg{
  margin-top: -120px;
  margin-bottom: -90px;
}
path{
  fill: white;
  stroke:grey;
  stroke-width: 1px;
  transition: all 0.6s;
}
path:hover{
  stroke-width: 5px;
}
#map-btns{
  text-align: center;
  list-style: none;
  li{
    display: inline-block;
    transition: all 0.6s;
    padding: 11px;
    cursor: pointer;
    font-size:18px;
  }
  margin-left:-55px;
  margin-top: 30px;
}
.active-map{
  background-color: blue;
  color: white;
}
#map-container{
  display:inline-block;
}
#scale-container{
  padding-top: -180px;
  display: block;
}
#scale-high{
  display: inline-block;
  margin-top: -84px;
  margin-left: 5px;
  font-size: 16px;
}

#scale-low{
  margin-top: -84px;
  font-size: 16px;
}
#data-p{
  margin-left: 70px;
  font-size:16px;
}

.modal {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 200; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}
.modal-content{
  background-color: aqua;
  display: inline-block;
  text-align: center;
  padding: 25px;
  font-size: 22px;
  margin: 30px;
}
.dark .modal-content{
  background-color: #000278;
}
#close-btn{
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 900;
  width:140px;
  background-color: red;
  border:none;
  outline: none;
  margin-top:35px;
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
}       
#close-btn:hover{
  background-color: white;
  color: black;
}
.apic{
  width:24vw;
  transition:all 0.4s;
  border-radius: 3%;
}

.apic:hover{
  width:35vw;
  height:auto;
}